.ant-picker-datetime-panel{
  max-width: 449px;
  width: 100vw;

  .ant-picker-date-panel{
    width: 70%;
  }

  .ant-picker-time-panel{
    width: 30%;
  }

  .ant-picker-body{
    padding: 0;

    .ant-picker-content{
      width: 100%;
    }

    th{
      width: 100%;
    }
  }

  .ant-picker-time-panel{
    width: 30%;

    .ant-picker-time-panel-column{
      width: unset;
    }
  }
}
